.container {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/icons/icon-128.png");
  background-size: contain;
  background-position: center;
  z-index: 9999999;
}
