@import "assets/css/palette.css";

.container {
  font-size: 18px;
  color: var(--my-ext-color-primary);
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
